@model Category

<h1>Delete Category</h1>

<form method="post" asp-action="DeletePost">

    <!-- Передача скрытых данных -->
    <input asp-for="Id" hidden />

    <p>
        <label asp-for="Name"></label>
        <input disabled asp-for="Name" class="form-control" />
    </p>

    <p>
        <label asp-for="DisplayOrder"></label>
        <input disabled asp-for="DisplayOrder" class="form-control" />
    </p>

    <p>
        <input type="submit" class="btn btn-danger" value="Delete" />
        <a class="btn btn-primary" asp-controller="Category" asp-action="Index"> Back </a>
    </p>
</form>
